<li
  class="task-item"
  (click)="selectTodo($event)"
  (keydown.enter)="selectTodo($event)"
  (keydown.space)="selectTodo($event)"
  (dblclick)="enableEditMode($event)"
  appTooltip="Дважды кликни для редактирования, один раз для просмотра"
  #itemTip="appTooltip"
>
  @if (isEditing()) {
    <div class="task-item__edit-mode" (click)="$event.stopPropagation()">
      <mat-form-field appearance="outline" class="task-item__input">
        <input
          matInput
          #titleInput
          [ngModel]="editedTitle()"
          (ngModelChange)="editedTitle.set($event)"
          (keydown.enter)="saveTitle($event)"
          (keydown.escape)="cancelEdit($event)"
        />
      </mat-form-field>

      <div class="task-item__actions">
        <app-button
          [typeButton]="'add'"
          (clickHandler)="saveTitle($event)"
        >Сохранить</app-button>

        <app-button
          [typeButton]="'delete'"
          (clickHandler)="cancelEdit($event)"
        >Отменить</app-button>
      </div>
    </div>
  } @else {
    <mat-checkbox
      [checked]="item().status === 'Completed'"
      (change)="toggleStatus($event)"
      (click)="$event.stopPropagation()"
      color="primary"
    ></mat-checkbox>
    <span class="task-item__text">{{ item().title }}</span>
    <app-button
      appTooltip="Удалить задачу {{ item().title }}"
      [typeButton]="'delete'"
      (clickHandler)="removeTodo($event)"
      (mouseenter)="itemTip.hide()"
      (mouseleave)="itemTip.show()"
    >Удалить</app-button>
  }
</li>
