@use 'variables' as v;

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid var(--border-color);
  border-radius: 5px;

  &__text {
    color: var(--text-color);
  }
}
:host(.selected) .task-item {
  background-color: #e8eaf6;
  border-color: v.$primary-button-color;
}
