.add-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 10px;
  align-items: flex-start;

  &__input-field {
    width: 100%;

    .mdc-text-field {
      padding-bottom: 0;
    }
  }
}
