<form [formGroup]="form" class="add-form" (ngSubmit)="addTaskHandler()">

  <mat-form-field class="add-form__input-field" appearance="outline">
    <mat-label>{{ 'FORM.TITLE_LABEL' | translate }}</mat-label>
    <input
      matInput
      type="text"
      placeholder="{{'FORM.TITLE_LABEL' | translate}}"
      formControlName="title"
    />
    @if (form.controls.title.hasError('required')) {
      <mat-error>{{ 'FORM.TITLE_REQUIRED' | translate }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="add-form__input-field" appearance="outline">
    <mat-label>{{ 'FORM.DESCRIPTION_LABEL' | translate }}</mat-label>
    <textarea
      matInput
      rows="4"
      placeholder="{{'FORM.DESCRIPTION_LABEL' | translate}}"
      formControlName="description"
    ></textarea>
    @if (form.controls.description.hasError('required')) {
      <mat-error>{{ 'FORM.DESCRIPTION_REQUIRED' | translate }}</mat-error>
    }
  </mat-form-field>

  <app-button
    appTooltip="{{'FORM.SUBMIT' | translate}}"
    [disabled]="form.invalid"
    [typeButton]="'add'"
  >
    {{ 'FORM.SUBMIT' | translate }}
  </app-button>
</form>
