@use 'sass:color';
@use 'variables' as v;

.todo-card {
  width: 100%;
  max-width: 500px;
  background: var(--card-background);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px var(--shadow-color);

  &__title {
    text-align: center;
    color: var(--text-color);
    font-size: 2.5rem;
  }
}

.add-form {
  display: flex;
  gap: 10px;
  padding-top: 10px;
  align-items: flex-start;

  &__input-field {
    flex-grow: 1;

    .mdc-text-field {
      padding-bottom: 0;
    }
  }

  .button--add {
    height: 56px;

    &:disabled {
      opacity: 0.5;
    }

  }
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__empty-message {
    text-align: center;
    color: #888;
  }
}
