<div class="todo-card">
  <h1 class="todo-card__title">Todo List</h1>

  <div class="todo-card__main-content">

    <div class="todo-card__list-wrapper">
      @if (!isLoading()) {
        @if (taskList().length > 0) {
          <mat-form-field appearance="outline" class="add-form__input-field">
            <mat-label>Фильтр по статусу</mat-label>
            <mat-select
              [ngModel]="statusFilter()"
              (ngModelChange)="statusFilter.set($event)"
            >
              <mat-option [value]="null">Все</mat-option>
              <mat-option [value]="'InProgress'">В процессе</mat-option>
              <mat-option [value]="'Completed'">Выполнены</mat-option>
            </mat-select>
          </mat-form-field>
        }
        <ul class="task-list">
          @for (task of filteredTaskList(); track task.id) {
            <app-to-do-list-item
              class="task-list__item"
              [item]="task"
              [class.selected]="selectedTask()?.id === task.id"
              (select)="selectTaskHandler($event)"
              (remove)="removeTaskHandler($event)"
              (update)="updateTaskHandler($event)"
            >
            </app-to-do-list-item>
          } @empty {
            <p class="task-list__empty-message">Список задач пуст</p>
          }
        </ul>
      } @else {
        <div class="spinner-container">
          <app-spinner></app-spinner>
        </div>
      }
      <app-create-to-do-item
        (createTask)="addTaskHandler($event)"
      >
      </app-create-to-do-item>
    </div>

    @if (selectedTask() !== null) {
      <div class="todo-card__description-wrapper">
        <div class="description-content">
          <h2>Описание задачи</h2>
          <p class="description-content__text">
            {{ selectedTask()!.description }}
          </p>
        </div>
      </div>
    }
  </div>
</div>
