@use 'sass:color';
@use 'variables' as v;

.todo-card {
  width: 100%;
  max-width: 500px;
  background: var(--card-background);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px var(--shadow-color);

  &__title {
    text-align: center;
    color: var(--text-color);
    font-size: 2.5rem;
  }
}

.add-form {
  display: flex;
  gap: 10px;
  padding-top: 10px;

  &__input {
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;

    &:focus {
      outline: none;
      border-color: var(--primary-button-color);
    }
  }

  &__button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-button-color);
    color: var(--primary-button-text);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: color.adjust(v.$primary-button-color, $lightness: -10%);
    }
  }
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &__empty-message {
    text-align: center;
    color: #888;
  }
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid var(--border-color);
  border-radius: 5px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__text {
    color: var(--text-color);
  }

  &__delete-button {
    padding: 5px 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: #f1f1f1;
      border-color: #bbb;
    }
  }
}
