@use 'sass:color';
@use 'variables' as v;

.todo-card {
  width: 100%;
  max-width: 700px;
  background: var(--card-background);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px var(--shadow-color);

  &__title {
    text-align: center;
    color: var(--text-color);
    font-size: 2.5rem;
  }

  &__main-content {
    display: flex;
    gap: 2rem;
  }

  &__list-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__description-wrapper {
    flex: 1;
    padding: 1.5rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: #f9f9f9;
  }
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 10px;
  align-items: flex-start;
  &__input-field {
    width: 100%;

    .mdc-text-field {
      padding-bottom: 0;
    }
  }
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__empty-message {
    text-align: center;
    color: #888;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
