$background-color: #f4f4f9;
$card-background: #ffffff;
$primary-button-color: #8a63d2;
$green-color: #00b482;
$green-hover-color: #00af7d;
$red-hover-color: #e63c32;
$red-color: #f44336;
$white-color: #ffffff;
$text-color: #333;
$border-color: #ddd;
$shadow-color: rgba(0, 0, 0, 0.1);
