@use 'sass:color';
@use 'variables' as v;

.todo-card__description-wrapper {
  width: 600px;
  flex-shrink: 0;
  padding: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--card-background);
  height: 90%;
}

.description-content {
  &__text {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--text-color);
  }
}
