@use 'styles/variables' as v;

:root {
  --background-color: #{v.$background-color};
  --card-background: #{v.$card-background};
  --primary-button-color: #{v.$primary-button-color};
  --primary-button-text: #{v.$primary-button-text};
  --text-color: #{v.$text-color};
  --border-color: #{v.$border-color};
  --shadow-color: #{v.$shadow-color};
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: var(--background-color);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
