@use '@angular/material' as mat;
@use 'styles/variables' as v;
@use 'styles/buttons';
@use 'styles/tooltip';

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

:root {
  --background-color: #{v.$background-color};
  --card-background: #{v.$card-background};
  --primary-button-color: #{v.$primary-button-color};
  --primary-button-text: #{v.$white-color};
  --text-color: #{v.$text-color};
  --border-color: #{v.$border-color};
  --shadow-color: #{v.$shadow-color};
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: var(--background-color);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
